# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: MathAdd

on: [push, pull_request]
env:
    GITHUB_TOKEN: '${{ secrets.REACT_GITHUB_TOKEN }}'
    NPM_TOKEN: '${{ secrets.NPM_TOKEN }}'
jobs:
    build:
        name: Build
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: 12
            - uses: actions/cache@v2
              id: restore-build
              with:
                  path: '**/node_modules'
                  key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
            - run: yarn install --frozen-lockfile
            - run: yarn build
            # - uses: actions/upload-artifact@v2
            #   with:
            #       name: dist
            #       path: ./public/dist

    test:
        name: Test
        needs: build
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: 12
            - uses: actions/cache@v2
              id: restore-build
              with:
                  path: '**/node_modules'
                  key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
            - run: yarn install --frozen-lockfile
            - run: yarn test
    publish:
        name: Publish
        needs: build
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
            - uses: actions/cache@v2
              id: restore-build
              with:
                  path: '**/node_modules'
                  key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
            - run: yarn install --frozen-lockfile
            - uses: actions/download-artifact@v2
            #   with:
            #       name: dist
            #       path: ./public/dist
            - uses: cycjimmy/semantic-release-action@v2.5.3
              with:
                  node-version: 12
