# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: MathAdd

on:
    # Trigger the workflow on pull request and release
    pull_request:
    release:
        types: [published, edited]

env:
    productionUrl: 'https://github.com/unbxd/website'
    stageUrl: 'https://github.com/sanjithkumar017/website'

jobs:
    publish:
        name: Publish
        runs-on: ubuntu-latest
        steps:
            - name: Pre-reqs
              uses: actions/checkout@v2

            - name: Deploy Stage
              id: deploy
              if: ${{ github.event_name == 'release' && github.event.release.prerelease }}
              run: |
                  echo "-- deploy-stage ${{ github.event.release.tag_name }} ${{ github.event_name }}"
                  echo 'RANDOM_NAME='$(curl https://randomuser.me/api | jq '.results[0].name.first') >> $GITHUB_ENV
            - name: Deploy Prod
              if: ${{ github.event_name == 'release' && !github.event.release.prerelease }}
              run: |
                  echo "-- deploy-prod ${{ github.event.release.tag_name }} ${{ github.event_name }}"
                  echo 'RANDOM_NAME='$(curl https://randomuser.me/api | jq '.results[0].name.first') >> $GITHUB_ENV

            - name: Publish Storybook
              if: ${{ github.event_name == 'release' && !github.event.release.prerelease }}
              run: echo "-- deploy-storybook ${{ github.event.release.tag_name }} ${{ github.event_name }}"

            - name: Display Name
              run: |
                  echo ${{ env.RANDOM_NAME }}
