# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: MathAdd

on:
    # Trigger the workflow on pull request and release
    pull_request:
    release:
        types: [published, edited]

jobs:
    publish:
        name: Publish
        runs-on: ubuntu-latest
        steps:
            - name: Pre-reqs
              uses: actions/checkout@v2

            - name: Deploy Stage
              if: ${{ github.event_name == 'release' && github.event.release.prerelease }}
              run: echo "-- deploy-stage ${{ github.event.release.tag_name }} ${{ github.event_name }}"

            - name: Deploy Prod
              if: ${{ github.event_name == 'release' && !github.event.release.prerelease }}
              run: echo "-- deploy-prod ${{ github.event.release.tag_name }} ${{ github.event_name }}"

            - name: Publish Storybook
              if: ${{ github.event_name == 'release' && !github.event.release.prerelease }}
              run: echo "-- deploy-storybook ${{ github.event.release.tag_name }} ${{ github.event_name }}"

            - name: Audit Prod
              uses: jakejarvis/lighthouse-action@master
              with:
                  url: "${{ github.event_name == 'release' && !github.event.release.prerelease?'it is prod':'it is stage' }}"
            - name: Upload results as an artifact
              uses: actions/upload-artifact@master
              with:
                  name: report
                  path: './report'
